<sg-header title="Mis Reclamaciones"></sg-header>
<ng-container *ngIf="reclamaciones; else loading">
	<ion-content class="ion-padding" color="light">
		<ion-button expand="block" routerLink="/reclamaciones/new" color="primary">
			➕ Registrar Reclamaci&oacute;n
		</ion-button>
		<h3 class="ion-padding-top">Mis Reclamaciones Registradas</h3>
		<!-- Botón para mostrar u ocultar los filtros -->
		<ion-button expand="block" fill="outline" (click)="mostrarFiltros = !mostrarFiltros">
			<ion-icon *ngIf="mostrarFiltros" slot="start" name="funnel-outline"></ion-icon>
			<ion-icon *ngIf="!mostrarFiltros"slot="start" name="funnel"></ion-icon>
			{{ mostrarFiltros ? 'Ocultar filtros' : 'Mostrar filtros' }}
		</ion-button>

		<!-- Filtros -->
		<div *ngIf="mostrarFiltros" class="ion-padding">	
			<h4 class="">Filtros</h4>
			<ion-item>
				<ion-label position="stacked">T&iacute;tulo(s)</ion-label>
				<ion-input [(ngModel)]="filtros.titulos" (ionInput)="filtrarReclamaciones()"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label position="stacked">Motivo</ion-label>
		        <ion-select [(ngModel)]="filtros.motivo" ninterface="popover" (ionChange)="filtrarReclamaciones()" placeholder="Selecciona una opción">
		          <ion-select-option *ngFor="let m of motivos" [value]="m.id">
		            {{ m.nombre }}
		          </ion-select-option>
		        </ion-select>				
			</ion-item>
			<ion-item>
				<ion-label position="stacked">Estado</ion-label>
				<ion-select [(ngModel)]="filtros.estado" interface="popover" (ionChange)="filtrarReclamaciones()" placeholder="Selecciona una opción">
					<ion-select-option value="1">Nueva</ion-select-option>
					<ion-select-option value="2">Revisada</ion-select-option>
					<ion-select-option value="3">Completada</ion-select-option>
					<ion-select-option value="4">Cancelada</ion-select-option>	    
				</ion-select>
			</ion-item>
			<ion-grid class="ion-no-padding">
				<ion-row>
					<ion-col size="6">
						<ion-item>
							<ion-label position="stacked">Desde</ion-label>
							<ion-input
								type="date"
								[(ngModel)]="filtros.fechaDesde"
								(ionChange)="filtrarReclamaciones()">
							</ion-input>
						</ion-item>
					</ion-col>
					<ion-col size="6">
						<ion-item>
							<ion-label position="stacked">Hasta</ion-label>
							<ion-input
								type="date"
								[(ngModel)]="filtros.fechaHasta"
								(ionChange)="filtrarReclamaciones()">
							</ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
			</ion-grid>			
			<ion-button expand="block" fill="outline" color="medium" (click)="limpiarFiltros()">
				Limpiar Filtros
			</ion-button>
		</div>		
		<ion-list *ngIf="reclamacionesFiltradas.length > 0; else sinReclamaciones">
			<ion-item *ngFor="let r of reclamacionesFiltradas; let i = index" lines="full" routerLink="/reclamaciones/{{r.id}}/details"
	  detail="true">
				<ion-label>
					<h2><strong>{{ r.titulos }}</strong></h2>
					<p><strong>Motivo:</strong> {{ r.motivo_nombre }}</p>
					<p><small>Fecha: {{ r.created_at | date:'longDate' }}</small></p>
				</ion-label>

				<!-- Badge alineado a la derecha -->
				<ion-badge
					slot="end"
					[color]="estadoColorMap[+r.estado]"
					class="ion-text-capitalize">
					{{ estadoTextoMap[+r.estado] }}
				</ion-badge>
			</ion-item>
		</ion-list>

		<ng-template #sinReclamaciones>
			<ion-text color="medium">
				<p class="ion-text-center">No hay reclamaciones registradas.</p>
			</ion-text>
		</ng-template>
	</ion-content>
</ng-container>

<ng-template #loading>
  <ion-card class="ion-padding ion-text-center">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
    <p>Cargando reclamaciones...</p>
  </ion-card>
</ng-template>