<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Condiciones SGACEDOM</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss(false)">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    Al enviar este formulario usted está de acuerdo con las siguientes condiciones:
  </p>
  <p><strong>CONDICIONES DE SGACEDOM AL DECLARAR SU OBRA</strong></p>
  <p>
    A) <strong>DECLARO</strong> bajo su responsabilidad, que los datos que constan en los espacios destinados a ser cumplimentados por el(los) interesado(s), son ciertos y corresponden a la realidad de la creación de la obra...
  </p>
  <p>
    B) <strong>SE OBLIGAN</strong> a notificar a la SGACEDOM... (sigue todo el texto que me diste)
  </p>
  <p>
    C) <strong>EXONERA(N)</strong> a la SGACEDOM de cualquier responsabilidad...
  </p>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="dismiss(true)">Acepto las condiciones</ion-button>
  </ion-toolbar>
</ion-footer>