<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Condiciones SGACEDOM</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss(false)">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    Al enviar este formulario usted está de acuerdo con las siguientes condiciones:
  </p>
  <p><strong>CLAUSULA DE INDEMNIDAD</strong></p>
  <p>Por la presente el (los) los firmante(s):</p>
  <p>
    EL USUARIO,  da por cierto real y verdadero que los datos e informaciones ofrecidas constituyen la manifestacion de la verdad, y que para el caso de que las mismas puedan resultar erróneas o falsas,  el mismo, acuerda por el presente documentos, en forma irrevocable, a mantener indemne a la sociedad SGACEDOM, por cualquier reclamo, acción judicial, demanda, daño o responsabilidad de cualquier tipo y naturaleza que pudiera ser  entablada por cualquier persona pública o privada, física o jurídica o dependientes o no del usuario, cualquiera fuere la causa del reclamo, responsabilidad que se mantendrá aun terminado el tiempo de uso por cualquier causa. Pudiendo SGACEDOM, actuar en repeticion, si cualquier accion desprendidas de las informaciones suministradas pudiere perjudicarle en el presente o futuro. La responsabilidad se extenderá a indemnización, gastos y costas sin que la enunciación sea limitativa.
  </p>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="dismiss(true)">Acepto las condiciones</ion-button>
  </ion-toolbar>
</ion-footer>